#big-container{
    align-content: center;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    line-height: 1.5;
    max-width: 600px;
}

text{
    font-family: 'Times New Roman', Times, serif;
}
#header-block{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
}
#subtitle{
    color: #006EB6;
    text-align: center;
}
#title{
    text-align: center;

}
.p,.li{
    font-size: 20px;
}
.footer{
    align-content: center;
}
.logo{
    width: 150px;
    margin-left: 40%;
    margin-right: 40%;
}
.dark{
    background-color: #333;
    color: #FFF;
}
.dark #header-block{
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}
.dark #subtitle{
    color: #4F9ACF;
}